.leaflet-container {
    height: -webkit-fill-available;
    width: 100%;
}

.leaflet-control-container > div.leaflet-control-geosearch.bar {
    width: 70%;
}

.map-page {
    animation: fade 0.5s ease-in;
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}