
.background {
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 831px;
    background-position: center center;
}


.title {
    font-weight: 600;
    font-size: 22px;
}

.login {
    padding: 17%;
    text-align: center;

}

.inputs {
    margin-top: 1em;
}

.input {
    font-size: 18px;
    margin-bottom: 1em;
}